backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
future==0.17.1
fuzzywuzzy==0.17.0
idna==2.8
numpy==1.16.5
pandas==0.24.2
probableparsing==0.0.1
pyodbc==4.0.27
python-crfsuite==0.9.6
python-dateutil==2.8.0
pytz==2019.2
redis==3.3.8
requests==2.22.0
shorten==2.0.2
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.5
usaddress==0.5.10
